<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <nav>
        MY EXPRESS
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/services">Our Services</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
      </nav>
    </header>

    <section>
      <div>
        <h1>Welcome to our services Page</h1>
        <img src="ourservices.jpg" width="150" height="150" />
      </div>
    </section>
  </body>
</html>
